@import url('./reset.css');
@import url('./main.css');


#introduction{
	height: 210px;
}

#introduction p {
	float: left;
	width: 325px;
}

#introduction img{
	float: right;
	width: 300px;
}

article h1{
	color: black;
	line-height: 40px;
	text-align: center;
	margin: 20px 0 40px 0;
}

article #instructions{
	clear: both;
}

article #instructions h2{
	margin: 40px 0;
}

article h2{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

article #instructions ul{
	list-style: circle;
	margin-bottom: 40px;
}

article #instructions ul li{
	margin: 0 0 10px 15px;
}

article #reference{
	margin: 45px 0 30px 0;
}

#comments h2{
		margin: 20px 0 40px 0;
}

/*Form styling*/
input[type='text']{
	background-color: #ffff99;
	border: black solid 1px;
	display: block;
	padding: 5px;
	margin-bottom: 20px;
	transition: background-color 0.5s;
}

input[type='text']:focus{
	background-color: white;
	border: grey solid 1px;
}

textarea{
	background-color: #ffff99;
	border: black solid 1px;
	display: block;
	padding: 5px;
	margin-bottom: 30px;
	transition: background-color 0.5s;
}

textarea:focus{
	background-color: white;
	border: grey solid 1px;
}

input[type='range']{
	width: 380px;
	margin: 20px 0;
	
}

input[type='submit']{
	padding: 10px 20px;
	display: block;
	border: black solid 1px;
	border-radius: 5px;
	transition: background-color 0.5s;
	margin-bottom: 40px;
}

input[type='submit']:hover{
	background-color: #ffff99;
	border: grey solid 1px;

}