@import url('./reset.css');
@import url('./main.css');
@import url('https://fonts.googleapis.com/css?family=Nosifer');

*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
	text-align:justify;
}

.content{
	float:right;
	min-height:1115px;
	width:665px;
	font-family:arial;
}

#carbing{
	float: left;
	width: 263px;
	height: 121px;
	margin: 10px;
	padding: 10px;
	background-color:#ffdb4d;
	border:2px solid;
	border-radius:7px;
}

#carbpic{
	float:left;
	width:500px;
	height:455px;
	margin:10px;
}

#carbpic img{
	border: 2px solid;
	border-radius: 160px 75px 160px 75px;
}

#carbrecepit{
    padding: 27px;
    float: left;
    margin: 10px;
    width: 588px;
    height: 365px;
    background-color: #ffdb4d;
    border: 2px solid;
    border-radius: 30px;
}

#carbcomments{
	float: right;
	width: 610px;
	height: 300px;
	margin: 20px 28px;
	padding: 0px;
}

#carbcomments form textarea{
	padding:5px 3px;
	border:2px solid;
	border-radius:22px;
	width:610px;
}

form h2{
	margin:10px 0px;
}
