@import url('https://fonts.googleapis.com/css?family=Contrail+One');

body{
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

header{
	width: 665px;
	height: 100px;
	background: #F5DEB3;
	float: right;
	margin-top: 20px;
    font-family: 'Contrail One', cursive;
	color: #8B4513;
	text-align: center;
}

header > div{
	width: 300px;
	height: 100px;
	margin: 0 auto;
}

header > div >  img{
	height:100px;
	float: left;
}

header > div > span{
line-height: 100px;
font-size: 30px;
}

div.wrapper{
	width: 1000px;
	padding: 0px 20px;
	padding-bottom: 20px;
	margin: 0px auto;
	background: rgba(255,255,255,0.5);
	overflow: auto;
}

div#content{
	width: 665px;
	float: right;
	min-height: 750px;
}

article{
	min-height: 500px;
	background-color: #FFF;
	margin-top:20px;
	padding: 20px;
}

h1{
    font-family: 'Contrail One', cursive;
	font-size: 30px;
	color: #8B4513;
}

aside{
	width: 275px;
	margin-top:20px;
	background-color: #FFF;
	float: left;
	position: fixed;
	padding: 20px;
}

aside > ul{
    font-family: 'Contrail One', cursive;
	font-size: 25px;
	color: #8B4513;
}

aside > ul > li{
	width:100%;
	padding:10px;
}

aside > ul > li > a{
	width:100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

aside > ul > li:hover{
	background-color: #F5DEB3;
	color: #8B4513;
}