
.directions{
  text-align: left;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 20px;
	background-color: #f8e8ca;
	float: left;
	margin-left: -20px;
	width: 665px;
  margin-bottom: -20px;
  height: 1400px;
  margin-right: 10px;

}
#dir{
  text-align: left;
  font-size: 20px;
  margin-top: -20px;
  padding-bottom: 10px;
  background-color: #b3caf5;
  float: left;
  margin-left: -20px;
  width: 665px;
  height: 40px;
}

.imagine{
    float: right;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: -35px;

    height: 310px;
}

#descriere{
  font-family:cursive;
  text-align: justify;

}

#poza1{
  float: left;
  margin-top: 15px;
   width:350px;
   height: 270px;
}
#ingrediente{
  float:right;
  width: 200px;
  margin-top: 35px;

}
.da
{
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 5px;

}

.rew{
  text-align: center;
  font-size: 20px;
  margin-top: -20px;
  padding-bottom: 10px;
  background-color: #b3caf5;
  float: left;
  margin-left: -20px;
  width: 665px;
  height: 50px;
  padding-top: 10px;
  margin-bottom: 15px;
}
label
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
}
textarea
{
	width:439px;
	height:50px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}
input
{
	margin-top: 20px;
	height: 40px;
	padding: 10px;
	font-size: 24px;
	color: #3a3a3a;
	float: right;
	margin-right: 90px;
}
#comment
{
	height: 100px;
}
